

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name) , :html => {:class => 'form-signin', :method => :post} ) do |f| %>
    <%= devise_error_messages! %>
    <h2 class="form-signin-heading">resend confirmation instructions</h2>


    <%= f.text_field :email,:autofocus => true,:class => 'form-control', "placeholder"=>"email"  %>


    </br>
    <div>
      <%= f.submit "Resend confirmation instructions" ,:class=>"btn btn-lg btn-primary btn-block"%>
    </div>
    </br>
    <div class="pull-right">
      <%= render "devise/shared/links" %>
    </div>

<% end %>


