

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name) , :html => {:class => 'form-signin'} ) do |f| %>
<%= devise_error_messages! %>
<h2>Sign up</h2>

<%= f.text_field :username,:autofocus => true,:class => 'form-control', "placeholder"=>"username"  %>

<%= f.email_field :email, :class => 'form-control', "placeholder"=>"email"  %>

<%= f.password_field :password,:class => 'form-control', "placeholder"=>"password"  %>

<%= f.password_field :password_confirmation ,:class => 'form-control', "placeholder"=>"password confirmation" %>

</br>
<div>
	<%= f.submit "sign up" ,:class=>"btn btn-lg btn-primary btn-block"%>
</div>
</br>
<div class="pull-right">
	<%= render "devise/shared/links" %>
</div>

<% end %>

