<h4 class="list-group-item-heading"><%= item.name %></h4>
<div class="list-group-item-text" style="padding-left: 20px; padding-top: 5px;">
<table>
  <tr>
    <td style="width:70px">Adresse:</td>
    <td><%= item.street.nil? ? ' ' : item.street %></td>
  </tr>
  <tr>
    <td></td>
    <td> <%= item.zipcode.nil? ? '   ' : item.zipcode %>   <%= item.city.nil? ? ' ' : item.city %></td>
  </tr>
  <tr>
    <td>Land:</td>
    <td><%= item.country_code.nil? ? '   ' :  Carmen::Country.coded(item.country_code).name %> </td>
  </tr>
  <tr>
    <td>Telefon:</td>
    <td><%= item.phone.nil? ? '   ' : item.phone  %> </td>
  </tr>
  <td>Kommentar:</td>
  <td><%= item.comment.nil? ? '   ' :  item.comment%> </td>
  </tr>
</table>
</div>