<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @shop.street %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @shop.zipcode %>
</p>

<p>
  <strong>City:</strong>
  <%= @shop.city %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @shop.phone %>
</p>

<p>
  <strong>Country:</strong>
    <%= Country[@shop.country_code] if  !@shop.country_code.nil? %>
</p>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
