

<%= form_tag(user_registration_path,:method => 'post',:class => 'form-signin') do %>
 <h2 class="form-signin-heading">Sign up</h2>


<%=text_field_tag "person[firstname]",@person.firstname ,:class => 'form-control', "placeholder"=>"firstname" %>
<%=text_field_tag "person[lastname]",@person.lastname ,:class => 'form-control', "placeholder"=>"lastname" %>
<%=text_field_tag "contact[street]",@contact.street ,:class => 'form-control', "placeholder"=>"strasse" %>
<%=text_field_tag "contact[zip]",@contact.zip ,:class => 'form-control', "placeholder"=>"postleitzahl" %>
<%=text_field_tag "contact[city]",@contact.city ,:class => 'form-control pad', "placeholder"=>"stadt" %>

<%=text_field_tag "contact[mobile]" ,@contact.mobile,:class => 'form-control', "placeholder"=>"mobile"  %>
<%=email_field_tag "user[email]",@user.email,:class => 'form-control pad', "placeholder"=>"email"  %>

<%=text_field_tag "user[username]",@user.username ,:class => 'form-control', "placeholder"=>"username" %>



<%=password_field_tag "user[password]",@user.password,:class => 'form-control', "placeholder"=>"password"  %>

<%=password_field_tag "user[password_confirmation]",@user.password_confirmation ,:class => 'form-control', "placeholder"=>"password retype" %></td>


</br>
<div>
	<%=  submit_tag nil, :class => "form_submit" ,:class=>"btn btn-lg btn-primary btn-block"%>
</div>
</br>
<div class="pull-right">
	<%= render "devise/shared/links" %>
</div>


<% end %>


