<%= javascript_include_tag "bootstrap.file-input.js" %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"><strong>Wein </strong></h1>
  </div>
  <div class="panel-body">
    <%= render 'form' ,:static_show => true, :extrabuttons => "#{link_to 'Editieren',  edit_wine_path(@wine)  , :class => 'btn btn-default', :id => "MyBackButton"} #{link_to 'Zurück', wines_path , :class => 'btn btn-default', :id => "MyBackButton"}" %>
  </div>
</div>




<div class="panel panel-default">
  <div class="panel-heading">
    <table><tr>    
      <td width="50px"><%= form_for(:image, :url => { :controller => "wines", :action => :addImage }, :html => { :method => :post, id:"myImageForm" }) do |f| %>
    <%= hidden_field_tag :wine_id , @wine.id   %>
    <%= f.file_field :picture , class: "btn btn-default btn-lg" , id: "imageuploadbutton"  %>
      <% end %>  </td> 
    <td><h1 class="panel-title"><strong>Bilder </strong></h1> </td>
       </tr></table>
  </div>
  <div class="panel-body">
    <div id="imageset">
      <%= @wine.images.empty? ? "Leider noch keine Bilder. Lade eins rauf!"  : nil %>

      
     <% @wine.images.each do |b| %>
      <a dataId="<%= b.id %>" ><img    class="img-responsive img-thumbnail lazy" style="height: 100px" data-src="<%= url_for :controller => 'images', :action => 'redir', :id => b.id%>" src="<%= asset_path("loading.gif")  %>"  alt="NotFound" /></a>
     <% end %>
    </div>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"><strong>Ratings: <%=  @theTotPerson==0 ? "noch keine Bewertung" : number_with_precision( @theRating, :precision => 2, separator: '.')%>  </strong></h1>
  </div>
  <div class="panel-body">

    <% if current_user.role=='admin' %>
    <%= form_for( @wine) do |f| %>
     
    <%= f.fields_for :ratings  do |ff| %>
    
     <div class="row">
      <div class="col-xs-4 col-sm-3 col-md-2">
        <%= hidden_field_tag :id , ff.object.id   %>
        <%=  ff.object.user.person.firstname  %>
      </div>
      <div class="col-xs-8 col-sm-9 col-md-8">
      <div class="input-group" style="width:100%">
      <%= ff.select :rating, [-1,1,2,3,4],:class => 'form-control', "placeholder"=> "rating" %>
        <%= ff.text_area :comment, rows:1 ,:class => 'form-control', "placeholder"=> "kommentar" %>
                          <span class="input-group-btn">

                           </span>
</div>
      </div>

      </div> 
    <% end %>
<%= f.submit "ok", :class => 'btn btn-default' %>
      <% end %>

 <% else %>
    <%= form_for( @myRating, :url => { :controller => "wines", :action => :addMyRating }, :html => { :method => :post, id:"myRatingForm" }) do |f| %>
    <div class="row">
      <div class="col-xs-4 col-sm-3 col-md-2">
        <%= hidden_field_tag :wine_id , @wine.id   %>
         Meine Bewertung:
      </div>
      <div class="col-xs-8 col-sm-9 col-md-8">
      <div class="input-group">
      <%= f.select :rating, [-1,1,2,3,4],:class => 'form-control', "placeholder"=> "rating" %>
        <%= f.text_area :comment, rows:1 ,:class => 'form-control', "placeholder"=> "kommentar" %>
                          <span class="input-group-btn">
<%= f.submit "+", :class => 'btn btn-default', :id => "addRatingButton" %>
                           </span>
</div>
      </div>

      </div>
     <% end %>



      <% if  @wine.ratings.length>0 %>
      <% @wine.ratings.each do |b| %>
          <% if (! b.user_id == current_user.id) and b.rating!=-1 %>
                  <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-2">
                      <%= b.user.person.firstname %>:
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3">
                      <%= b.rating   %>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-4">

                      <%= b.comment.nil? ? b.comment : ""   %>

                    </div>
                        <div class="col-xs-1 col-xs-offset-0 col-sm-1  col-sm-offset-1 col-md-1 col-md-offset-2">


                      </div>
                    </div>
                  </div>
          <% end %>
      <% end %>
      <% end %>
  
<% end %>
  </div>
</div>


  
  
    <div class="modal fade" id="myPicModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-body" id="my-modal-body">

      <img  id="modalpic" class="img-responsive img-thumbnail lazy" style="width: 100%" data-src="" srcLoad="<%= asset_path("loading.gif")  %>"  alt="NotFound" />
       <button id="deletebutton" type="button" class="btn btn-danger deleteButton">-</button>
    </div>
  </div>
</div>
  
<div hidden="true"> 
  <a id="imgclone"><img  class="img-responsive img-thumbnail lazy" style="height: 100px"   alt="NotFound" style="display: inline-block;"></a>
 
</div>

  


