<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wine.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @wine.year %>
</p>

<p>
  <strong>Land:</strong>
  <%= Country[@wine.country_code].translations['de']  %>
</p>

<p>
  <strong>Pictures:</strong>
  <% @wine.images.each do |img|  %>
      <img src=" <%= img.picture.url(:thumb) %>" width="60" height="60"  alt="No Pic">
  <% end%>
  <% if @wine.images.empty?  %>
      <img src="" width="60" height="60"  alt="No Pic">
  <% end%>
</p>

<%= link_to 'Edit', edit_wine_path(@wine) %> |
<%= link_to 'Back', wines_path %>
