
<%= form_for @image, :html => {
        :class => 'form-horizontal', id: "MyForm" } do |f| %>
    <% if @image.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@image.errors.count, "Fehler") %>, konnte nicht gespeichert werden:</h2>

          <ul>
            <% @image.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="form-group">
      <label for="wine-name" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <%= f.text_field :name, :class => 'form-control', "placeholder"=> "name"%>
      </div>
    </div>

      <div class="form-group">
        <label for="wine-name" class="col-sm-2 control-label">Preview</label>
        <div class="col-sm-10">
       <img id="prew" class="lazy" data-src="<%= !@image.id.nil? ? url_for(:controller => 'images', :action => 'redir', :id => @image.id) : ""  %>" src="<%= !@image.id.nil? ? asset_path("loading.gif") : ""  %>" width="100%">
      </div>
      </div>

    <div class="form-group">
      <label for="wine-name" class="col-sm-2 control-label"></label>
      <div class="col-sm-10">
        <%= f.file_field :picture, :class => 'file_field', :id => "MyLoader" %> </span>
      <% if false%>
            <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
          <% end%>
          </div>
    </div>



  <div class="form-group">
    <div class="text-right">
      <div class="col-sm-12">
        <%= f.submit  "Ok", :class => 'btn btn-primary', :id => "MySubmitButton" %>
        <%= local_assigns[:extrabuttons].html_safe%>
      </div>
    </div>
  </div>


</div>
<% end %>

<script>



    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#prew').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#MyLoader").change(function(){
        readURL(this);
    });

</script>