<h1>Listing images</h1>

<table>
  <thead>
    <tr>
      <th>Picture</th>
      <th>Name</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><img class="lazy" data-src="<%= url_for :controller => 'images', :action => 'redir', :id => image.id%>" src="<%= asset_path("loading.gif")  %>" border="0" width="60" height="60"  alt="Lazy Image" /></td>
<% if false %>
 <td><img src="<%= image.picture.url(:thumb) if img.picture.exists? %>" width="60" height="60"  alt="test"> </td>
<% end %>
       
        <td><%= image.name %></td>
        <td><%= image.user_id %></td>
        <td><%= link_to 'Show', image %></td>
        <td><%= link_to 'Edit', edit_image_path(image) %></td>
        <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image', new_image_path %>
